<!-- <h1>Hola mundo</h1>
<button class="btn btn-success">crear</button> -->
<div class="container">
  <div class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="cont h-100 p-4 text-white bg-gradient rounded-3 text-center">
        <h3>CRUD Angular Andres Silva ABISOFT</h3>
        <!-- <img src="https://assets.website-files.com/5ff66329429d880392f6cba2/61c323afb777801522775611_CRUD%20%20Preview.png" width="100" alt=""> -->
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
